<!------About------>
<section class="section" id="about">
  <div class="about container">
    <h2 class="about__title title">Teacher</h2>
    <div class="about__wripper">
      <picture class="about__picture">
        <!-- desctop -->
        <source
          media="(min-width: 1366px)"
          srcset="
            ./images/teacher/teacher-descktop@1x.jpg 1x,
            ./images/teacher/teacher-descktop@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/teacher/teacher-tablet@1x.jpg 1x,
            ./images/teacher/teacher-tablet@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/teacher/teacher-mobile@1x.jpg 1x,
            ./images/teacher/teacher-mobile@2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="about__img"
          src="./images/teacher/teacher-mobile@1x.jpg"
          alt="Photo of teacher Elena Moreva"
          width="530"
          height="668"
          loading="lazy"
        />
      </picture>
      <div class="about__discr">
        <h3 class="about__name title">Elena Moreva</h3>
        <ul class="about__list">
          <li
            class="about__item"
            data-aos="fade-right"
            data-aos-duration="400"
            data-aos-delay="0"
          >
            6 yeards of experience in preparing students for UPE
          </li>
          <li
            class="about__item"
            data-aos="fade-right"
            data-aos-duration="400"
            data-aos-delay="200"
          >
            Own result of passing VNO - 197 points 2 years in a row
          </li>
          <li
            class="about__item"
            data-aos="fade-right"
            data-aos-duration="400"
            data-aos-delay="400"
          >
            Passed excellent at the international analogue of UPE - Cambridge
            PET (Preliminary English Test) >
          </li>
        </ul>
        <div class="about__rectangle"></div>

        <ul class="about__text text-about">
          <li class="text-about__item">
            <p class="about__text">
              Graduated from the Institute of International Relations of the NAU
              with a degree in translator-analyst.
            </p>
          </li>
          <li class="text-about__item">
            <p class="about__text">
              In spare time takes courses from the best universities in the
              world on effective teaching and essay writing techniques.
            </p>
          </li>
          <li class="text-about__item">
            <p class="about__text">
              Completed: English Grammar and Essay Writing (Berkeley), English
              Grammar & Style (The University of Queesland), How to Write an
              Essay (Berkeley), Academic and Business Writing (Berkeley), The
              Art of Teaching (GEMS education), Powerful Tools for Teaching and
              Learning (University of Houston).
            </p>
          </li>
        </ul>

        <a
          href="https://cambridge-exams.ch/en/exams/certificates.php"
          class="about__link"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
