<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <!-- ----------------------------------------item 1 -->
      <li
        class="advantages__item"
        data-aos="fade-right"
        data-aos-duration="700"
        data-aos-delay="0"
      >
        <svg class="advantages__item-icon">
          <use href="./images/sprite.svg#icon-hero-female-student-frame"></use>
        </svg>
        <p class="advantages__item-descr">Adapted author's UPE program</p>
      </li>

      <!-- ----------------------------------------item 1 -->
      <li
        class="advantages__item"
        data-aos="fade-right"
        data-aos-duration="700"
        data-aos-delay="200"
      >
        <svg class="advantages__item-icon">
          <use href="./images/sprite.svg#icon-hero-mod-teach-frame"></use>
        </svg>
        <p class="advantages__item-descr">Modern teaching methods</p>
      </li>
      <!-- ----------------------------------------item 1 -->
      <li
        class="advantages__item"
        data-aos="fade-right"
        data-aos-duration="700"
        data-aos-delay="400"
      >
        <svg class="advantages__item-icon">
          <use href="./images/sprite.svg#icon-hero-insurance-frame"></use>
        </svg>
        <p class="advantages__item-descr">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
