<section class="section benefits-section bg--gradient" id="benefits">
  <div class="container benefits">
    <h2 class="title benefits--title title--dark-theme">
      Why do people choose us
    </h2>
    <ul
      class="numbered-list benefits__list"
      data-aos="zoom-in-down"
      data-aos-duration="700"
    >
      <li class="numbered-list__item benefits__item">
        <span class="numbered-list__decor"></span>
        <p>Training in small groups</p>
      </li>
      <li class="numbered-list__item benefits__item">
        <span class="numbered-list__decor"></span>
        <p>Rendered notes</p>
      </li>
      <li class="numbered-list__item benefits__item">
        <span class="numbered-list__decor"></span>
        <p>Each lesson has a goal and a specific result</p>
      </li>
      <li class="numbered-list__item benefits__item">
        <span class="numbered-list__decor"></span>
        <p>The real results of the teacher</p>
      </li>
      <li class="numbered-list__item benefits__item">
        <span class="numbered-list__decor"></span>
        <p>The course program meets the requirements of the MES of Ukraine</p>
      </li>
      <li class="numbered-list__item benefits__item">
        <span class="numbered-list__decor"></span>
        <p>Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
