<div class="container">
  <div class="footer__container">
    <a class="logo footer__logo" href="">
      <svg class="logo__icon footer__logo-icon">
        <use href="./images/sprite.svg#icon-hero-helloen"></use>
      </svg>
    </a>

    <!-- ---------------------------------------------------контакты-->
    <div class="footer__contact">
      <!-- ---------------------------------------------------номер телефона -->
      <a class="footer__contact-link" href="tel:+380991234567">
        <span class="footer__contact-icon-box">
          <svg class="footer__contact-icon">
            <use href="./images/sprite.svg#icon-icon-phone-footer"></use>
          </svg>
        </span>
        +38 (099) 123 45 67
      </a>

      <!-- ---------------------------------------------------cоциалки -->
      <a
        href="https://www.instagram.com/"
        rel="noopener nofollow noreferrer"
        target="_blank"
        class="footer__contact-social"
      >
        <img
          srcset="
            ./images/footer/instagram@1x.png 1x,
            ./images/footer/instagram@1x.png 2x
          "
          src="./images/footer/instagram@1x.png"
          alt="instagram"
          width="40"
          height="40"
        />
      </a>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------копирайтинг-->
<div class="footer__copirate">
  <div class="container footer__copirate-container">
    <p class="footer__copirate-text">© All rights reserved, 2022</p>
  </div>
</div>
