<section class="section guarantee">
  <div class="container guarantee__container">
    <h2 class="title guarantee__title">We guarantee</h2>
    <ul class="guarantee__list">
      <!-- -----------------------------------------------1 -->
      <li
        class="guarantee__item"
        data-aos="flip-up"
        data-aos-duration="400"
        data-aos-delay="0"
      >
        You will pass the UPE with at least 25 points better than on the first
        practice test. Otherwise, we will refund your money.<span
          class="guarantee__item-text--color"
          >*</span
        >
      </li>

      <!-- -----------------------------------------------2 -->
      <li
        class="guarantee__item"
        data-aos="flip-up"
        data-aos-duration="400"
        data-aos-delay="100"
      >
        You will learn to write essays with at least 10 points out of 14.
        <span class="guarantee__item-text--color"
          >While 20% of the students received 0 for essays.</span
        >
      </li>

      <!-- -----------------------------------------------3 -->
      <li
        class="guarantee__item"
        data-aos="flip-up"
        data-aos-duration="400"
        data-aos-delay="200"
      >
        You will study in your area. We will choose the location for the classes
        after the teams have been formed.
      </li>

      <!-- -----------------------------------------------4 -->
      <li
        class="guarantee__item"
        data-aos="flip-up"
        data-aos-duration="400"
        data-aos-delay="300"
      >
        Teams will be formed based on the starting level of the students. We
        take into account the characteristics of each student.
      </li>
    </ul>
  </div>
</section>
