<section class="section hero">
  <div class="container hero__container">
    <!-- content  -->
    <div class="hero__content">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__text-subtitle">It won &#787; t be easy.</p>
      <p class="hero__text">
        But you are guaranteed to get
        <span class="hero__text-points">+25 points</span>
      </p>
      <!-- button  -->
      <form action="#contacts">
        <button class="button hero__button">i want a free lesson</button>
      </form>
    </div>

    <!-- image  -->
    <div class="hero__img">
      <picture
        class="hero__img-bottom"
        data-aos="fade-up-left"
        data-aos-duration="700"
        data-aos-delay="200"
      >
        <source
          srcset="
            ./images/hero/bottom-desc@1x.png 1x,
            ./images/hero/bottom-desc@2x.png 2x
          "
          media="(min-width: 1366px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/hero/bottom-tablet@1x.png 1x,
            ./images/hero/bottom-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/hero/bottom-mobile@1x.png 1x,
            ./images/hero/bottom-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/jpeg"
        />

        <img src="./images/hero/bottom-desc@1x.png" alt="people" />
      </picture>
      <picture
        class="hero__img-top"
        data-aos="fade-down-right"
        data-aos-duration="700"
        data-aos-delay="200"
      >
        <source
          srcset="
            ./images/hero/top-desc@1x.png 1x,
            ./images/hero/top-desc@2x.png 2x
          "
          media="(min-width: 1366px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/hero/top-tablet@1x.png 1x,
            ./images/hero/top-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/hero/top-mobile@1x.png 1x,
            ./images/hero/top-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/jpeg"
        />

        <img src="./images/hero/bottom-desc@1x.png" alt="people" />
      </picture>
    </div>
  </div>
</section>
