<section class="section method">
  <h2 class="method__title">How do we do it</h2>

  <ul class="method__list">
    <li
      class="method__item"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-delay="0"
    >
      <a href="#" class="method__link">
        <div class="method__block">
          <svg class="method__icon" width="45px" height="48px">
            <use href="./images/sprite.svg#icon-how-do-adobted-no-color"></use>
          </svg>
          <!-- <div class="method__content"> -->
          <h3 class="method__list-title">
            Adapted program preparation for UPE
          </h3>

          <p class="method__text">
            You will learn grammar and vocabulary at the same time. And you will
            learn how to write essays
          </p>
          <!-- </div> -->
        </div>
      </a>
    </li>

    <li
      class="method__item"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-delay="200"
    >
      <a href="#" class="method__link">
        <div class="method__block">
          <svg class="method__icon" width="46px" height="47px">
            <use
              href="./images/sprite.svg#icon-how-do-classroom-lern-no-color"
            ></use>
          </svg>
          <!-- <div class="method__content"> -->
          <h3 class="method__list-title">Classroom and online learning</h3>
          <p class="method__text">
            The teacher will help not only in the classroom, but also during
            home preparation.Parents can chat if they wish.
          </p>
          <!-- </div> -->
        </div>
      </a>
    </li>

    <li
      class="method__item"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-delay="400"
    >
      <a href="#" class="method__link">
        <div class="method__block">
          <svg class="method__icon" width="55px" height="55px">
            <use href="./images/sprite.svg#icon-noun_open-book"></use>
          </svg>
          <!-- <div class="method__content"> -->
          <h3 class="method__list-title">The habit of reading in English</h3>
          <p class="method__text">
            Articles from sources that are used in the development of this UPE
            will be received by phone twice a week.
          </p>
          <!-- </div> -->
        </div>
      </a>
    </li>

    <li
      class="method__item"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-delay="0"
    >
      <a href="#" class="method__link">
        <div class="method__block">
          <svg class="method__icon" width="48px" height="48px">
            <use href="./images/sprite.svg#icon-how-do-psyhsupport"></use>
          </svg>
          <!-- <div class="method__content"> -->
          <h3 class="method__list-title">Psychological support</h3>
          <p class="method__text">
            We will teach you testing techniques, the ability to plan your
            confidence training in itself.
          </p>
          <!-- </div> -->
        </div>
      </a>
    </li>
    <li
      class="method__item"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-delay="200"
    >
      <a href="#" class="method__link">
        <div class="method__block">
          <svg class="method__icon" width="41px" height="46px">
            <use href="./images/sprite.svg#icon-how-do-female-st"></use>
          </svg>
          <!-- <div class="method__content"> -->
          <h3 class="method__list-title">Training on copyright manuals</h3>
          <p class="method__text">
            You don't have to waste your time on a search for material and to
            buy anything extra. We have compiled 2 manuals for you.
          </p>
          <!-- </div> -->
        </div>
      </a>
    </li>

    <li
      class="method__item"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-delay="400"
    >
      <a href="#" class="method__link">
        <div class="method__block">
          <svg class="method__icon" width="51px" height="44px">
            <use href="./images/sprite.svg#icon-how-do-ability-no-color"></use>
          </svg>
          <!-- <div class="method__content"> -->
          <h3 class="method__list-title">
            Ability to comprehend spoken English
          </h3>
          <p class="method__text">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly and
            analyze audio recordings in accordance with the studied vocabulary.
          </p>
          <!-- </div> -->
        </div>
      </a>
    </li>
  </ul>
</section>
