<section class="section section--problems bg--gradient">
  <div class="problems__icon-canv"></div>
  <div class="container problems">
    <h2 class="title--problems title title--dark-theme">
      The main problems of students in English UPE, which we
      <span class="title--dark-theme__accent">help</span>
      to solve
    </h2>
    <ul
      class="problems-list numbered-list"
      data-aos="zoom-in-down"
      data-aos-duration="700"
    >
      <li class="problems-list__item numbered-list__item">
        <span class="problems-list__decor numbered-list__decor"></span>
        <p>Grammar</p>
      </li>
      <li class="problems-list__item numbered-list__item">
        <span class="problems-list__decor numbered-list__decor"></span>
        <p>Inability to understand spoken English</p>
      </li>
      <li class="problems-list__item numbered-list__item">
        <span class="problems-list__decor numbered-list__decor"></span>
        <p>Stingy vocabulary for writing an essay</p>
      </li>
      <li class="problems-list__item numbered-list__item">
        <span class="problems-list__decor numbered-list__decor"></span>
        <p>Preparing alone</p>
      </li>
      <li class="problems-list__item numbered-list__item">
        <span class="problems-list__decor numbered-list__decor"></span>
        <p>Lack of a single knowledge resource</p>
      </li>
      <li class="problems-list__item numbered-list__item">
        <span class="problems-list__decor numbered-list__decor"></span>
        <p>Lack of self-organization and laziness</p>
      </li>
    </ul>
  </div>
</section>
