<section class="section program" id="program">
  <div class="container">
    <h2 class="program__title">Our program</h2>
    <div class="program__container">
      <ul class="program__list">
        <li
          class="program__item"
          data-aos="fade-right"
          data-aos-duration="400"
          data-aos-delay="0"
        >
          <h3 class="program__term">1 SEMESTER</h3>
          <ul class="program__type">
            <li class="program__type-list">
              <h4 class="program__subject">— Grammar</h4>
              <ul>
                <li class="program__topic">Nouns & Articles</li>
              </ul>
              <ul>
                <li class="program__topic">Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="program__type-list">
              <h4 class="program__subject">— Vocabulary</h4>
              <ul>
                <li class="program__topic">Family & Relations</li>
              </ul>
              <ul>
                <li class="program__topic">People & Society</li>
              </ul>
            </li>
          </ul>
        </li>
        <li
          class="program__item"
          data-aos="fade-right"
          data-aos-duration="400"
          data-aos-delay="200"
        >
          <h3 class="program__term">2 SEMESTER</h3>
          <ul class="program__type">
            <li class="program__type-list">
              <h4 class="program__subject">— Grammar</h4>
              <ul>
                <li class="program__topic">Pronouns</li>
              </ul>
              <ul>
                <li class="program__topic">Active Voice</li>
              </ul>
              <ul>
                <li class="program__topic">Passive Voice</li>
              </ul>
            </li>
            <li class="program__type-list">
              <h4 class="program__subject">— Vocabulary</h4>
              <ul>
                <li class="program__topic">Home</li>
              </ul>
              <ul>
                <li class="program__topic">School</li>
              </ul>
              <ul>
                <li class="program__topic">Work</li>
              </ul>
            </li>
          </ul>
        </li>
        <li
          class="program__item"
          data-aos="fade-right"
          data-aos-duration="400"
          data-aos-delay="400"
        >
          <h3 class="program__term">3 SEMESTER</h3>
          <ul class="program__type">
            <li class="program__type-list">
              <h4 class="program__subject">— Grammar</h4>
              <ul>
                <li class="program__topic">Modal verbs</li>
              </ul>
              <ul>
                <li class="program__topic">Infinitive</li>
              </ul>
              <ul>
                <li class="program__topic">Gerund</li>
              </ul>
              <ul>
                <li class="program__topic">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="program__type-list">
              <h4 class="program__subject">— Vocabulary</h4>
              <ul>
                <li class="program__topic">Travel & Tourism</li>
              </ul>
              <ul>
                <li class="program__topic">Culture & Free Time</li>
              </ul>
              <ul>
                <li class="program__topic">Sport</li>
              </ul>
            </li>
            <li class="program__type-list">
              <h4 class="program__subject">— Writing</h4>
              <ul>
                <li class="program__topic">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li
          class="program__item"
          data-aos="fade-right"
          data-aos-duration="400"
          data-aos-delay="500"
        >
          <h3 class="program__term">4 SEMESTER</h3>
          <ul class="program__type">
            <li class="program__type-list">
              <h4 class="program__subject">— Grammar</h4>
              <ul>
                <li class="program__topic">
                  Clauses: Conditional <br />and Wishes
                </li>
              </ul>
              <ul>
                <li class="program__topic">Direct / Reported <br />speech</li>
              </ul>
              <ul>
                <li class="program__topic">Preposition</li>
              </ul>
              <ul>
                <li class="program__topic">Conjunction</li>
              </ul>
              <ul>
                <li class="program__topic">Numeral</li>
              </ul>
            </li>
            <li class="program__type-list">
              <h4 class="program__subject">— Vocabulary</h4>
              <ul>
                <li class="program__topic">Healthy Living</li>
              </ul>
              <ul>
                <li class="program__topic">Nature & <br />Environment</li>
              </ul>
              <ul>
                <li class="program__topic">Money</li>
              </ul>
            </li>
            <li class="program__type-list">
              <h4 class="program__subject">— Writing</h4>
              <ul>
                <li class="program__topic">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li
          class="program__item"
          data-aos="fade-right"
          data-aos-duration="400"
          data-aos-delay="600"
        >
          <h3 class="program__term">5 SEMESTER</h3>
          <ul class="program__type">
            <li class="program__type-list">
              <h4 class="program__subject">—</h4>
              <ul>
                <li class="program__topic">Revision</li>
              </ul>
              <ul>
                <li class="program__topic">Tests</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
