<section class="review">
  <h2 class="review__title">Feedback from graduates</h2>
  <!-- <div class="review__container"> -->
  <div
    class="review__block"
    data-aos="fade-up"
    data-aos-duration="700"
    data-aos-delay="0"
  >
    <div class="review__thumb">
      <img
        src="./images/reviews/avatar@2x.png"
        alt="фото"
        class="review__thumb-foto"
      />
      <svg class="review__icon" width="30px" height="30px">
        <use href="./images/sprite.svg#icon-feedback-facebook"></use>
      </svg>
    </div>
    <div class="review__wrapper">
      <article class="review__container">
        <h3 class="review__container-title">Tonya Kucherovskaya</h3>
        <div class="review__graduated">
          <p class="review__text">
            Graduated from 2015, National University of Bioresources and natural
            history of Ukraine
          </p>
          <!-- <div class="review__decr"> -->
          <p class="review__text review__text--descr">
            In a short time with Elena, I mastered grammar and replenished my
            completely empty vocabulary. From the first lesson I realized that I
            was on my plate. Elena and I became friends because she was really
            worried about my success. She became an authority for me, but I did
            not tremble in class, fearing to make the slightest mistake. Now I
            can brag that I'm student ...
          </p>
          <!-- </div> -->
          <a href="#" class="review__link">Read more</a>
        </div>
      </article>
    </div>
  </div>
  <div class="wrapper">
    <div class="slider">
      <button type="button" class="btn btn--left">
        <svg class="slider__icon slider__icon--left" width="54px" height="54px">
          <use href="./images/sprite.svg#icon-feedback-arrow1"></use>
        </svg>
      </button>

      <div
        class="slider__item slider__item--active"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="0"
      >
        <img src="./images/reviews/review-01@2x.png" alt="фото" />
      </div>
      <div
        class="slider__item slider__item--active"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="100"
      >
        <img src="./images/reviews/review-02@2x.png" alt="фото" />
      </div>
      <div
        class="slider__item slider__item--active"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="200"
      >
        <img src="./images/reviews/review-03@2x.png" alt="фото" />
      </div>
      <div
        class="slider__item"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="300"
      >
        <img src="./images/reviews/review-04@2x.png" alt="фото" />
      </div>
      <div
        class="slider__item"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="400"
      >
        <img src="./images/reviews/review-05@2x.png" alt="фото" />
      </div>
      <div
        class="slider__item"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="500"
      >
        <img src="./images/reviews/review-06@2x.png" alt="фото" />
      </div>
      <div
        class="slider__item slider__item--desk"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-delay="600"
      >
        <img src="./images/reviews/review-07@2x.png" alt="фото" />
      </div>
      <button type="button" class="btn btn--right">
        <svg
          class="slider__icon slider__icon--right"
          width="54px"
          height="54px"
        >
          <use href="./images/sprite.svg#icon-feedback-arrow2"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
