.logo {
    display: inline-flex;
    color: var(--title-text-color);
    transition: color var(--shift);

    .header--no-transparency & {
        color: var(--secondary-text-color);
    }
}

.logo__icon {
    fill: currentColor;
    
    @include mq(tab) {
        width: 128px;
        height: 45px;
    }
}
